body {
    display: grid;
    background-color: aquamarine;  
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 100px auto;
}

h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.boardContainer {
    display: grid;
    grid-template-columns: repeat(16, auto);
    justify-content: center;
    align-content: start;
    grid-gap: 0;
    border: solid 2px black;
    height: 320px;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionsContainer >* {
    display: block;
    padding: 0px 20px;
    margin-top: 10px;
    width: 100px;
}

.square {
    background-color: white;
    width: 20px;
    height: 20px;
}

.hovered {
    background-color: brown;
}
